@font-face {
    font-family: 'Orator';
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Read next point */
    unicode-range: U+000-5FF; /* Download only latin glyphs */
    src: local('Orator'), url('/fonts/orator-webfont.woff2') format('woff2'), url('/fonts/orator-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Mate';
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Read next point */
    unicode-range: U+000-5FF; /* Download only latin glyphs */
    src: local('Mate'), url('/fonts/mate-regular-webfont.woff2') format('woff2'), url('/fonts/mate-regular-webfont.woff') format('woff');
}