@font-face {
    font-family: 'Impact';
    src: url('fonts/Impact.ttf') format("opentype");

    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

@font-face {
    font-family: 'Portico';
    src: url('fonts/Portico.otf') format("opentype");

    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

@font-face {
    font-family: 'Orator';
    src: url('fonts/Orator.ttf') format("opentype");
}

@font-face {
    font-family: 'Orator';
    src: url('fonts/Hoefler.ttf') format("opentype");
}

@font-face {
    font-family: 'Mate';
    src: url('fonts/Mate-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'Oranienbaum';
    src: url('fonts/Oranienbaum.ttf') format("opentype");
}

@font-face {
    font-family: "GT_Sectra";
    src: url(//db.onlinewebfonts.com/c/8d026c963e4feb5053ef8b0cf5ca1910?family=Gt);
}