@import url("nav.css");

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #fff;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    background-color: #333;
    height: 100%;
    min-height: 100%;
}

.masthead {
    position: fixed;
    top: 0;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;

    background-image: url('../images/birds.gif'); background-repeat: no-repeat; background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

 h1.cover-heading {
    color: white;
    font-family: "Orator", monospace;
     font-size: 1.7rem;
    letter-spacing:  0.1em;
     animation-duration: 1.5s;
     padding: 0 5%;

 }

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.cover-heading img {
    margin-left: 10px;
    margin-right: 10px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
}

@media only screen and (max-device-width: 480px) {
    h1.cover-heading {
        font-size: xxx-large;
    }
    .masthead-nav > li > a {
        font-size: large;
    }
}
