/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body {
    width: 100%;
    height: 100%;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: white;
}

/******************************************************************
	Text Selection Styles
******************************************************************/
::selection {
    background: #6093e7;
    color: #fff;
}
::-moz-selection {
    background: #6093e7;
    color: #fff;
}
::-webkit-selection {
    background: #6093e7;
    color: #fff;
}
a {
    outline: none;
}


h1.main {
    font-size: 3em;
    text-align: center;
    margin: 50px auto;
    font-weight: 400;
    font-family: "Georgia";
}

.dark-gray {
    color: #4b4b4b;
}

.white {
    color: #FFF;
}

ul.portfoliofilter {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
li.filter {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #454544;
    background-color: #efefef;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 3px;
    margin: 0px 5px;
}
li.filter:hover {
    color: rgba(96, 147, 231, 0.6);
}
li.filter.active {
    font-weight: 700;
    background-color: rgba(96, 147, 231, 0.6);
    color: #FFF;
}
ul.portfolio li {
    width: 80%;
    padding-left: 10%;
    padding-bottom: 5%;
    float: left;
    cursor: pointer;
    display: none;
    opacity: 0;
}
.portfolioitem {
    display: block;
    padding-bottom: 85px;
    position: relative;
}
.portfolioitem img {
    width: 100%;
    vertical-align: middle;
}
.portfoliohover {
    -webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
}
.portfoliohover .info {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}
.portfoliohover h1 {
    color: #FFF;
    font-size: 150px;
    font-weight: 300;
    -webkit-transition: opacity, color 600ms ease;
    -moz-transition: opacity, color 600ms ease;
    -o-transition: opacity, color 600ms ease;
    -ms-transition: opacity, color 600ms ease;
    transition: opacity, color 600ms ease;
    opacity: 0;
}
.portfoliohover h5 {
    color: #cfcfcf;
    text-transform: uppercase;
}
.portfoliohover h6 {
    color: #ababab;
    font-weight: 300;
}
ul.portfolio li:hover .portfoliohover {
    background-color: rgba(96, 147, 231, 0.6);
}
ul.portfolio li:hover .portfoliohover h5, ul.portfolio li:hover .portfoliohover h6, ul.portfolio li:hover .portfoliohover h1 {
    opacity: 1;
    color: #FFF;
}


a {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    text-decoration: none;
    font-size: 8pt;
    color: #616161;
}
a:hover {
    color: #6093e7;
}
b {
    font-weight: bold;
}
p {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #cfcfcf;
    font-size: 12px;
}
h1 {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 40px;
}
h2 {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 20px;
}
h3 {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 18px;
}
h4 {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 16px;
}
h5 {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
}
h6 {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    line-height: 1.6em;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 12px;
}
.hidden {
    display: none;
}
.block {
    display: block;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
